.location-screen-RedTxt {
    color: #ff1133;
}

.location-screen-location {
    max-width: 1100px;
    padding: 100px 60px;
}

.location-screen-location .location-screen-row {
    justify-content: space-between;
}
/* 
.location-screen-location .location-screen-row .location-screen-col {
   
} */

.location-screen-location .location-screen-row img {
    width: 15em;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-number {
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 5em;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-info {
    margin-left: 30px;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-info .location-screen-phrase {
    color: #ff1133;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-info .location-screen-h2 {
    font-size: 3em;
}

.location-screen-location .location-screen-row .location-screen-col p {
    margin-bottom: 10px;
    line-height: 24px;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-p-special {
    font-weight: bold;
    display: block;
    display: none;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-p-special-txt{
    font-size: 1.2em;
    display: block;
    display: none;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-p-special-phone {
    padding-top: 0.5em;
    font-weight: bold;
    text-align: center;
}

.location-screen-location .location-screen-row .location-screen-col .location-screen-p-special-phone-txt {
    font-size: 1em;
    text-align: center;
}

.location-screen-location hr {
    margin-bottom: 20px;
}

.location-screen-location .location-screen-row-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location-screen-location .location-screen-row-location .location-screen-phrase {
    font-size: 18px;
    font-weight: 600;
}

.location-screen-location .location-screen-row-location h2 {
    font-size: 2.5rem;
}

.location-screen-location .location-screen-row-location button {
    background-color: #ff1133;
    border: none;
    color: #fff;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    padding: 10px 20px;
    font-size: 0.9em;
}

.location-screen-location .location-screen-row-location button:hover {
    background-color: #000;
    color: #ff1133;
}

@media only screen and (min-width: 600px) {
    .location-screen-location {
        padding: 80px 40px;
    }

    .location-screen-location .location-screen-row {
        flex-direction: row;
        justify-content: center;
    }

    .location-screen-location .location-screen-row .location-screen-col img {
        width: 50%;
        margin-bottom: 0;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-title-container {
        flex-direction: row;
        text-align: left;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-info {
        margin-left: 20px;
        margin-top: 0;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-number {
        font-size: 4em;
    }

    .location-screen-location .location-screen-row .location-screen-col p {
        line-height: 1.5;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-p-special-phone-txt {
        font-size: 1.2em;
    }

    .location-screen-location .location-screen-row-location button {
        padding: 15px 35px;
        font-size: 1em;
    }
}

@media only screen and (min-width: 992px) {
    .location-screen-location {
        max-width: 1100px;
        padding: 100px 60px;
    }

    .location-screen-location .location-screen-row {
        justify-content: space-between;
    }

    .location-screen-location .location-screen-row .location-screen-col img {
        width: 50%;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-title-container {
        flex-direction: row;
        align-items: center;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-number {
        font-size: 5em;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-info {
        margin-left: 30px;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-title-container .location-screen-info .location-screen-h2 {
        font-size: 3em;
    }

    .location-screen-location .location-screen-row .location-screen-col p {
        font-size: 1.1em;
        line-height: 1.6;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-p-special-phone-txt {
        display: none;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-p-special-phone {
        display: none;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-p-special {
        font-weight: bold;
        display: block;
    }

    .location-screen-location .location-screen-row .location-screen-col .location-screen-p-special-txt{
        font-size: 1.2em;
        display: block;
    }

    .location-screen-location .location-screen-row-location button {
        padding: 20px 40px;
        font-size: 1.1em;
    }
}