.login-screen-RedTxt {
    color: #ff1133;
}

.login-screen-log {
    max-width: 100%;
    margin: auto;
    height: auto;
    border-color: #dde1e9;
    padding: 50px 20px;
}

.login-screen-log .login-screen-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-screen-log .login-screen-row .login-screen-col {
    width: 100%;
}

.login-screen-log .login-screen-row .login-screen-col img {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-title-container .login-screen-number {
    color: #ff1133;
    font-weight: bold;
    display: block;
    font-size: 3em;
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-title-container .login-screen-info {
    margin-left: 0;
    margin-top: 20px;
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-title-container .login-screen-info .login-screen-phrase {
    color: #ff1133;
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-title-container .login-screen-info .login-screen-h2 {
    font-size: 2em;
}

.login-screen-log .login-screen-row .login-screen-col p {
    margin-bottom: 10px;
    line-height: 24px;
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-p-special {
    font-weight: bold;
    display: none;
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-p-special-txt{
    display: none;
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-p-special-phone {
    padding-top: 0.5em;
    font-weight: bold;
    text-align: center;
    
}

.login-screen-log .login-screen-row .login-screen-col .login-screen-p-special-phone-txt {
    font-size: 1em;
    text-align: center;
}

.login-screen-log hr {
    margin-bottom: 20px;
}

.login-screen-log .login-screen-row-log {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-screen-log .login-screen-row-log .login-screen-phrase {
    font-size: 18px;
    font-weight: 600;
}

.login-screen-log .login-screen-row-log h2 {
    font-size: 2.5rem;
}

.login-registration-form {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo según tu diseño */
    margin: 0 auto;
}

.login-form-input {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form-button {
    width: 100%;
    padding: 10px;
    background-color: #ff4500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form-button:hover {
    background-color: #e63946;
}

@media only screen and (min-width: 600px) {
    .login-screen-log {
        padding: 80px 40px;
    }

    .login-screen-log .login-screen-row {
        flex-direction: row;
        justify-content: center;
    }

    .login-screen-log .login-screen-row .login-screen-col img {
        width:50%;
        margin-bottom: 0;
    }

    .login-screen-log .login-screen-row .login-screen-col .login-screen-title-container {
        flex-direction: row;
        text-align: left;
    }

    .login-screen-log .login-screen-row .login-screen-col .login-screen-title-container .login-screen-info {
        margin-left: 20px;
        margin-top: 0;
    }

    .login-screen-log .login-screen-row .login-screen-col .login-screen-title-container .login-screen-number {
        font-size: 4em;
    }

    .login-screen-log .login-screen-row .login-screen-col .login-screen-title-container .login-screen-info .login-screen-h2 {
        font-size: 2.5em;
    }

    .login-screen-log .login-screen-row .login-screen-col p {
        line-height: 1.5;
    }

    .login-screen-log .login-screen-row .login-screen-col .login-screen-p-special-phone-txt {
        font-size: 1.2em;
    }

    .login-screen-log .login-screen-row-log .login-form-button {
        padding: 15px 35px;
        font-size: 1em;
    }
}

@media only screen and (min-width: 992px) {
    .login-screen-log .login-screen-row .login-screen-col img {
        width:50%;
        margin-bottom: 0;
    }
}