/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}

body {
    background-color: #dde1e9;
}

.header-header-container {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid #2f283e;
    background-color: rgba(0, 0, 0, .7);
    z-index: 200;
    padding: 0 20px;
}

.header-header-container header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.header-header-container header img {
    width: 5em;
    height: auto;
}

.header-header-container .header-header-nav {
    display: none;
}

.header-header-container .header-networks {
    display: none;
}

.header-header-container .header-nav-responsive {
    color: #fff;
}









    

.menu {
    display: none;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ff1133;
    color: white;
    z-index: 100;
}

.menu a {
    padding: 20px;
    display: block;
    border-bottom: 3px solid black;
    text-align: left;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 50px;
    font-weight: bold;
}

.menu-header {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    border-bottom: 3px solid black;
}

.menu-header button {
    background-color: transparent;
    border: none;
    color: black;
    font-size: 30px;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.menu-header button:hover {
    color: #ddd;
}

.header-header-container .menu .menu-networks {
    justify-content: center;
    
    margin-top: 15px;
    border-top: none;
}

.header-header-container .menu .menu-networks a {
    margin: 0 10px;
    color: black;
    border: none;
    justify-content: center;
}

.menu-options :hover {
    background-color: white;
}












/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .header-header-container {
        height: 3.5em;
    }

    .header-header-container header img{
        width: 7em;
    }

    .header-header-container .header-networks {
        display: inline-block;
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
    }

    .header-header-container .header-networks a{
        text-decoration: none;
        color: #fff;
        font-size: 1.2em;
        padding: 5px 8px;
    }

    .header-header-container header .header-networks a:hover {
        color: #ff1133;
    }

    .header-header-container .header-nav-responsive{
        font-size: 1.2em;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    .header-header-container header img{
        width: 8em;
    }

    .header-header-container {
        height: 3.7em;
    }

    .header-header-container .header-header-nav {
        display: block;
    }

    .header-header-container header nav a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        padding: 5px;
        text-transform: uppercase;
    }
    
    .header-header-container header nav a:hover {
        color: #ff1133;
    }

    .header-header-container .header-networks a{
        font-size: 1.3em;
    }

    .header-header-container .header-nav-responsive{
        font-size: 1.3em;
    }



/* -------------------------------------------------------------------- */

    .menu {
        width: 30%;
    }
    
    .menu a {
        font-size: 30px;
    }
    
    .menu-networks {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: 20px;
        border-top: none;
    }
    
    .header-header-container .menu .menu-networks a {
        margin: 0 10px;
        color: black;
        border: none;
    }
   
    .menu-options :hover {
        background-color: white;
    }
    
}