.footer {
    background-color: #000; 
    color: #fff; 
    font-size: 14px;
    padding: 40px 60px;
}

.footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-logo img{
    width: 7em;
}

.footer-columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.footer-column {
    text-align: center;
}

.footer-column h4 {
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-column a {
    color: #cccccc;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #ff1133;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.footer-bottom p {
    margin: 0;
    margin-bottom: 10px; 
}

.footer-bottom a {
    color: #cccccc;
    text-decoration: none;
    margin: 5px 10px; 
}

.footer-bottom a:hover {
    color: #ff1133;
}

.fa-brands {
    font-size: 24px; 
    color: #cccccc; 
}

.fa-brands:hover {
    color: #ff1133; 
}

.aviso-cookies {
	display: block;
	background: #fff;
	padding: 20px;
	width: calc(100% - 40px);
	max-width: 300px;
	line-height: 150%;
	border-radius: 10px;
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 300;
	padding-top: 60px;
	box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
	text-align: center;
}

.aviso-cookies.activo {
	display: block;
}

.aviso-cookies .galleta {
	max-width: 100px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.aviso-cookies .titulo,
.aviso-cookies .parrafo {
	margin-bottom: 15px;
    color: black;
}

.aviso-cookies .boton {
	width: 100%;
	background: red;
	border: none;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	padding: 15px 20px;
	font-weight: 700;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	margin-bottom: 15px;
	font-size: 14px;
}

.aviso-cookies .boton:hover {
	background: #000;
}

.aviso-cookies .enlace {
	color: #4DBFFF;
	text-decoration: none;
	font-size: 14px;
}

.aviso-cookies .enlace:hover {
	text-decoration: underline;
}

.fondo-aviso-cookies {
	display: block;
	background: rgba(0,0,0,.60);
	position: fixed;
	z-index: 150;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
}

.fondo-aviso-cookies.activo {
	display: block;
}

.boton-reset {
    width: 100%;
    background: none;
    border: none;
    color: #ffffff;
    font-family:     sans-serif;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease all;
    font-size: 14px;
}

.boton-reset:hover {
    color: #ff1133;
}


@media only screen and (min-width: 600px) {
    .footer-logo img{
        width: 10em;
    }

    .footer-columns {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .footer-column {
        width: 45%;
    }
}

@media only screen and (min-width: 992px) {
    .footer-logo img{
        width: 12em;
    }
    .footer-columns {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
    .footer-column {
        width: auto;
        padding: 0 20px;
    }
}
