.see-reviews-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 15vh;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reviews-list {
    list-style: none;
    padding: 0;
}

.reviews-list li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reviews-list li div {
    display: flex;
    align-items: center;
    justify-content: safe;
}

.reviews-list li .text-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 1;
}

.reviews-list li .text-container {
    display: flex;
    flex-direction: column;
}

.reviews-list li .text-container p.name {
    flex: 0.5;
}

.reviews-list li .text-container p.review {
    flex: 1;
}

.reviews-list li input[type="text"] {
    width: 200px;
    margin-right: 10px;
}

.reviews-list li .button-container {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.reviews-list li button {
    padding: 8px 16px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: red;
    color: white;
    font-size: 14px;
}

.reviews-list li button:last-child {
    margin-right: 0;
}

.see-reviews-container .reviews-list .items {
    justify-content: space-between;
    font-size: 14px;
}

.see-reviews-container .reviews-list .items button-container button {
    font-size: 10px;
}

.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: red;
    box-shadow: 0 0 0 2px red;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: red;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px red;
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .see-reviews-container .reviews-list .items {
        font-size: 16px;
    }
    
    .see-reviews-container .reviews-list .items button {
        font-size: 13px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    
}   


































